$preloaderSize: 20px;
$refreshBtnBg: #0d6efd;
$refreshBtnBgHover: #0b5fdd;
$refreshBtnColor: #ffffff;

*,
*::before,
*::after {
    border: none;
    outline: none;
}

body {
    background: #ddd;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

/*========================*/
/* Preloader */
/*========================*/
#preloader {
    position: fixed;
    display: flex;
    background: #fff;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    > span {
        width: 0;
        height: 0;
        border-radius: 50%;
        background: #68d19b;
        margin: 8px;
        animation: loading 0.5s infinite alternate;
        transition: 0.5s;

        &:nth-child(2) {
            background: lightcoral;
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            background: lightsteelblue;
            animation-delay: 0.3s;
        }
    }
}

@keyframes loading {
    to {
        width: $preloaderSize;
        height: $preloaderSize;
        transform: translate3d(0, -20px, 0);
    }
}

// Ayat Container
.container {
    width: 95%;
    margin: 0 auto;
}

h1 {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 1.4rem;
    line-height: 1.5;

    &#ayat-arabic {
        text-align: right;
    }

    &#ayat-reference {
        font-size: 1.2rem;
        text-align: right;
    }
}

#refresh-ayat {
    background: $refreshBtnBg;
    border: 1px solid #2867c5;
    color: $refreshBtnColor;
    font-size: 1rem;
    margin: 3rem 0;
    padding: 13px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s background;

    &:hover {
        background: $refreshBtnBgHover;
    }
}

// Responsive Style
@mixin responsiveContainer($screenSize, $containerWidth) {
    @media screen and (min-width: $screenSize) {
        .container {
            width: $containerWidth;
        }
    }
}

@include responsiveContainer(768px, 90%);
@include responsiveContainer(992px, 85%);
@include responsiveContainer(1200px, 75%);

@media screen and (min-width: 576px) {
    h1 {
        font-size: 2.2rem;
    }
    p {
        font-size: 1.6rem;
    }
}
